:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

@keyframes pulse {
  50% {
    opacity: 0.5;
  }
}
@keyframes ping {
  75%, 100% {
    transform: scale(2);
    opacity: 0;
  }
}